{% include svg-icons.html %}

{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
{% endif %}

<!--不算子网站访客统计；pv的方式，单个用户连续点击n篇文章，记录n次访问量；uv的方式，单个用户连续点击n篇文章，只记录1次访客数
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<div align="center">

	<span id="busuanzi_container_site_pv" style="font-family:Consolas;color:Silver;font-size:12px;">Page View:<span id="busuanzi_value_site_pv" style="font-family:Consolas;color:Silver;font-size:12px;"></span>
	</span>

	<span id="busuanzi_container_site_uv" style="font-family:Consolas;color:Silver;font-size:12px;">User View:<span id="busuanzi_value_site_uv" style="font-family:Consolas;color:Silver;font-size:12px;"></span>
	</span>
</div>
-->